.container{
    display: flex;
    justify-content: center;

}
.box{

}
.input{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.input input{
    min-width: 300px;
    min-height: 40px;
    border: 1px solid gray;
   font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;


}
.button{
    min-width: 300px;
    margin-top: 2rem;
    min-height: 40px;
    border: 1px solid gray;
    background: rgb(116, 116, 219);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}